{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}SkyBook Airlines{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    
    {% block extra_css %}{% endblock %}
</head>
<body>

    {% block header %}
    <header class="main-header">
        <div class="nav-container">
            <a href="{% url 'home' %}" class="main-logo">
                <i class="fas fa-plane-departure"></i>
                <span>SkyBook</span>
            </a>
            
            <nav class="main-nav">
                <ul class="nav-menu">
                    <li><a href="{% url 'home' %}" class="nav-link">Home</a></li>
                    <li><a href="{% url 'book' %}" class="nav-link">Book Flights</a></li>
                </ul>
            </nav>

            <div class="nav-actions">
                <button class="mobile-toggle"><i class="fas fa-bars"></i></button>
            </div>
        </div>
    </header>
    {% endblock %}

     <main class="content-wrapper">
        {% block content %}{% endblock %}
    </main>
    {% block extra_js %}{% endblock %}
</body>
</html>